@media only screen and (min-width: 0px) and (max-width: 420px) {
    /*Sección: Imagen de fondo + h1*/

    .main__section__caravanadeayudas__h1 {
        background-image: url(../images/caravanadeayudas/caravanadeayudas.png);
        background-size: cover;
        height: 200px;

        .main__section__caravanadeayudas__div__h1 {
            background-color: #2c2a309f;
            font-size: 25px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


    /*Sección: Explicación de lo que es una carava de ayudas*/

    .main__section__caravanadeayudas__h2p {
        background-color: #2e0968bb;
        font-size: 16px;
        padding: 2em;
        gap: 20px;
        display: flex;
        flex-direction: column;

        .main__section__caravanadeayudas__h2p p {
            font-size: 20px;
        }
    }


    /*Sección: Caravana Dorlem*/

    .section__caravanadeayudas__22122021 {
        background-color: #2c2a30;
        font-size: 20px;
        padding: 20px;

        .section__caravanadeayudas__div__22122021 {
            font-size: 30px;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
        }

        .section__caravanadeayudas__div__22122021__ul {
            margin-left: 15px;
        }

        .section__caravanadeayudas__div__22122021__ul li {
            margin-bottom: 10px;
        }

        .section__caravanadeayudas__div__22122021__h3 {
            margin-top: 30px;
            display: flex;
            justify-content: flex-end;
        }
    }


    /*Sección: Proximamente más caravanas*/

    .section__caravanadeayudas__proximamenteMasCaravanas {
        background-color: #2e0968bb;
        font-size: 20px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .section__caravanadeayudas__proximamenteMasCaravanas__h2 {
            font-size: 30px;
            margin-top: 50px;
            margin-bottom: 20px;
        }
    }
}




@media only screen and (min-width: 421px) and (max-width: 768px) {
    /*Sección: Imagen de fondo + h1*/

    .main__section__caravanadeayudas__h1 {
        background-image: url(../images/caravanadeayudas/caravanadeayudas.png);
        background-size: cover;
        height: 300px;

        .main__section__caravanadeayudas__div__h1 {
            background-color: #2c2a309f;
            font-size: 30px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


    /*Sección: Explicación de lo que es una carava de ayudas*/

    .main__section__caravanadeayudas__h2p {
        background-color: #2e0968bb;
        font-size: 16px;
        padding: 2em;
        gap: 20px;
        display: flex;
        flex-direction: column;

        .main__section__caravanadeayudas__h2p p {
            font-size: 20px;
        }
    }


    /*Sección: Caravana Dorlem*/

    .section__caravanadeayudas__22122021 {
        background-color: #2c2a30;
        font-size: 20px;
        padding: 20px;

        .section__caravanadeayudas__div__22122021 {
            font-size: 30px;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
        }

        .section__caravanadeayudas__div__22122021__ul {
            margin-left: 15px;
        }

        .section__caravanadeayudas__div__22122021__ul li {
            margin-bottom: 10px;
        }

        .section__caravanadeayudas__div__22122021__h3 {
            margin-top: 30px;
            display: flex;
            justify-content: flex-end;
        }
    }


    /*Sección: Proximamente más caravanas*/

    .section__caravanadeayudas__proximamenteMasCaravanas {
        background-color: #2e0968bb;
        font-size: 20px;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        .section__caravanadeayudas__proximamenteMasCaravanas__h2 {
            font-size: 30px;
            margin-top: 50px;
            margin-bottom: 20px;
        }
    }
}




@media only screen and (min-width: 769px) {
    /*Sección: Imagen de fondo + h1*/

    .main__section__caravanadeayudas__h1 {
        background-image: url(../images/caravanadeayudas/caravanadeayudas.png);
        background-size: cover;
        height: 350px;

        .main__section__caravanadeayudas__div__h1 {
            background-color: #2c2a309f;
            font-size: 40px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


    /*Sección: Explicación de lo que es una carava de ayudas*/

    .main__section__caravanadeayudas__h2p {
        background-color: #2e0968bb;
        font-size: 20px;
        padding: 2em;
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .main__section__caravanadeayudas__h2p p {
            font-size: 20px;
        }
    }


    /*Sección: Caravana Dorlem*/

    .section__caravanadeayudas__22122021 {
        background-color: #2c2a30;
        font-size: 25px;
        padding: 20px;

        .section__caravanadeayudas__div__22122021 {
            font-size: 30px;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
        }

        .section__caravanadeayudas__div__22122021__ul {
            margin-left: 15px;
        }

        .section__caravanadeayudas__div__22122021__ul li {
            margin-bottom: 10px;
        }

        .section__caravanadeayudas__div__22122021__h3 {
            margin-top: 30px;
            display: flex;
            justify-content: flex-end;
        }
    }


    /*Sección: Proximamente más caravanas*/

    .section__caravanadeayudas__proximamenteMasCaravanas {
        background-color: #2e0968bb;
        font-size: 20px;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        .section__caravanadeayudas__proximamenteMasCaravanas__h2h4 {
            margin-left: 7em;
        }

        .section__caravanadeayudas__proximamenteMasCaravanas__h2 {
            margin-bottom: 20px;
            font-size: 35px;
        }
    }
}