@media only screen and (min-width: 0px) and (max-width: 420px) {
    /*Sección: Imagen + h1*/

    .main__section__cuentasrallylead__h1 {
        background-image: url(../images/cuentasrallylead/cuentasrallylead.png);
        background-size: cover;
        height: 200px;

        .main__section__cuentasrallylead__h1--bc {
            background-color: #2c2a309f;
            color: #ffffff;
            font-size: 35px;
            height: 100%;
        }
    }


    /*Sección: Explicación de que lo pueden encontrar en la página*/

    .main__section__cuentasrallylead_h3yh4 {
        background-color: #2e0968bb;
        padding: 2em;

        .main__section__cuentasrallylead_h3 {
            font-size: 25px;
            margin-top: 20px
        }
    }

    /*Sección: Carrusel*/

    .main__section__cuentasrallylead__carousel {
        background-color: #2c2a30;
        padding: 30px;
    }


    /*Sección: Makoto*/

    .section__cuentasrallylead__info__makoto {
        background-color: #2c2a30;
        color: #ffffff;

        .section__cuentasrallylead__info__makoto__h2 {
            color: #ff0000;
            font-size: 3em;
        }

        .section__cuentasrallylead__info__makoto__h3 {
            font-size: 20px;
            color: #d1b410;
        }

        .section__cuentasrallylead__info__makoto__h3--color {
            font-size: 30px;
            color: #00ff22;
        }

        .section__cuentasrallylead__info__makoto__div {
            margin-left: 1em;

            .section__cuentasrallylead__info__makoto__div__ul {
                font-size: 20px;
            }

            .section__cuentasrallylead__info__makoto__div__h4 {
                font-size: 30px;
            }
        }

        div {
            .section__cuentasrallylead__info__makoto__div__imput {
                margin-top: 3em;
            }

            .section__cuentasrallylead__info__makoto__div__imput--color {
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
}




@media only screen and (min-width: 421px) and (max-width: 768px) {
    /*Sección: Imagen + h1*/

    .main__section__cuentasrallylead__h1 {
        background-image: url(../images/cuentasrallylead/cuentasrallylead.png);
        background-size: cover;
        height: 300px;

        .main__section__cuentasrallylead__h1--bc {
            background-color: #2c2a309f;
            color: #ffffff;
            font-size: 4em;
            height: 100%;
        }
    }


    /*Sección: Explicación de que lo pueden encontrar en la página*/

    .main__section__cuentasrallylead_h3yh4 {
        background-color: #2e0968bb;
        padding: 2em;

        .main__section__cuentasrallylead_h3 {
            font-size: 30px;
            margin-top: 20px
        }
    }


    /*Sección: Carrusel*/

    .main__section__cuentasrallylead__carousel {
        background-color: #2c2a30;
        padding: 30px;
    }


    /*Sección: Makoto*/

    .section__cuentasrallylead__info__makoto {
        color: #ffffff;
        background-color: #2c2a30;


        .section__cuentasrallylead__info__makoto__h2 {
            color: #ff0000;
            font-size: 6em;
        }

        .section__cuentasrallylead__info__makoto__h3 {
            font-size: 2em;
            color: #d1b410;
        }

        .section__cuentasrallylead__info__makoto__h3--color {
            font-size: 3em;
            color: #00ff22;
        }

        .section__cuentasrallylead__info__makoto__div {
            margin-left: 3em;
            margin-top: 2em;

            .section__cuentasrallylead__info__makoto__div__ul {
                font-size: 25px;
            }

            .section__cuentasrallylead__info__makoto__div--wd {
                width: 50%;
            }

            .section__cuentasrallylead__info__makoto__div__h4 {
                font-size: 32px;
                margin-top: 2em;
            }
        }

        div {
            .section__cuentasrallylead__info__makoto__div__imput {
                margin-top: 3em;
            }

            .section__cuentasrallylead__info__makoto__div__imput__h4 {
                font-size: 2em;
            }
        }
    }
}




@media only screen and (min-width: 769px) {
    /*Sección: Imagen + h1*/

    .main__section__cuentasrallylead__h1 {
        background-image: url(../images/cuentasrallylead/cuentasrallylead.png);
        background-size: cover;
        height: 350px;

        .main__section__cuentasrallylead__h1--bc {
            background-color: #2c2a309f;
            font-size: 4em;
            color: #ffffff;
            height: 100%;
        }
    }


    /*Sección: Explicación de que lo pueden encontrar en la página*/

    .main__section__cuentasrallylead_h3yh4 {
        background-color: #2e0968bb;
        padding: 2em;

        .main__section__cuentasrallylead_h3 {
            font-size: 30px;
            margin-top: 20px
        }
    }


    /*Sección: Carrusel*/

    .main__section__cuentasrallylead__carousel {
        background-color: #2c2a30;
        padding: 30px;
    }


    /*Sección: Makoto*/

    .section__cuentasrallylead__info__makoto {
        color: #ffffff;
        background-color: #2c2a30;

        .section__cuentasrallylead__info__makoto__h2 {
            color: #ff0000;
            font-size: 6em;
        }

        .section__cuentasrallylead__info__makoto__h3 {
            color: #d1b410;
            font-size: 2em;
        }

        .section__cuentasrallylead__info__makoto__h3--color {
            color: #00ff22;
            font-size: 3em;
        }

        .section__cuentasrallylead__info__makoto__div {
            margin-left: 3em;
            margin-top: 2em;

            .section__cuentasrallylead__info__makoto__div__ul {
                font-size: 25px;
            }

            .section__cuentasrallylead__info__makoto__div__h4 {
                font-size: 32px;
                margin-top: 2em;
            }
        }

        .section__cuentasrallylead__info__makoto__div--wd {
            width: 50%;
        }

        div {
            .section__cuentasrallylead__info__makoto__div__imput {
                margin-top: 3em;
            }

            .section__cuentasrallylead__info__makoto__div__imput__h4 {
                font-size: 2em;
            }
        }
    }
}