@media only screen and (min-width: 0px) and (max-width: 420px) {
    /*Sección: Imagen de fondo + h1*/

    .main__section__dudasFrecuentes__h1 {
        background-image: url(../images/dudasfrecuentes/dudasfrecuentes.jpg);
        background-size: cover;
        height: 200px;
        display: flex;

        .main__section__dudasFrecuentes__div__h1 {
            background-color: #2c2a309f;
            color: #ffffff;
            font-size: 2em;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }


    /*Sección: Lo que encontrarán en la página*/

    .main__section__dudasFrecuentes__h3 {
        background-color: #2e0968bb;
        font-size: 20px;
        padding: 30px;
    }


    /*Sección: ¿Puedo acceder a mi cuenta o seguir utilizándola con el bot encendido?*/

    .section__dudasFrecuentes__usarCuentaBotEncendido {
        background-color: #2c2a30;
        color: #ffffff;
        font-size: 20px;
        padding: 30px;

        .section__dudasFrecuentes__li {
            margin-bottom: 20px;
        }
    }


    /*Sección: ¿Tiene algún costo extra los reportes de cacería?*/

    .section__dudasFrecuentes__costoExtraReportes {
        background-color: #2e0968bb;
        font-size: 20px;
        padding: 30px;
    }


    /*Sección: Vivo en otro país y sólo puedo pagar con mi moneda ¿Qué puedo hacer?*/

    .section__dudasFrecuentes__vivoEnOtroPais {
        background-color: #2c2a30;
        color: #ffffff;
        font-size: 20px;
        padding: 30px;
    }


    /*Sección: ¿El bot debe ser una cuenta propia o es una cuenta de MerezBots?*/

    .section__dudasFrecuentes__elBotDebeSerPropia {
        background-color: #2e0968bb;
        font-size: 20px;
        padding: 30px;
    }


    /*Sección: ¿Cómo puedo controlar el bot?*/

    .section__dudasFrecuentes__controlarElBot {
        background-color: #2c2a30;
        color: #ffffff;
        font-size: 20px;
        padding: 30px;
    }


    /*Sección: ¿Cuántas personas pueden usar mi bot?*/

    .section__dudasFrecuentes__personasUsarBot {
        background-color: #2e0968bb;
        font-size: 20px;
        padding: 30px;
    }


    /*Sección: ¿Puedo poner mi bot como "Rango 4" o "Rango 5"?*/

    .section__dudasFrecuentes__ponerBotR4R5 {
        background-color: #2c2a30;
        color: #ffffff;
        font-size: 20px;
        padding: 30px;
    }


    /*Sección: Ya no puedo pagar el bot pero quiero transferirlo a otra persona ¿Puedo hacer eso?*/

    .section__dudasFrecuentes__noPuedoPagar {
        background-color: #2e0968bb;
        font-size: 20px;
        padding: 30px;
    }
}




@media only screen and (min-width: 421px) and (max-width: 768px) {
    /*Sección: Imagen de fondo + h1*/

    .main__section__dudasFrecuentes__h1 {
        background-image: url(../images/dudasfrecuentes/dudasfrecuentes.jpg);
        background-size: cover;
        height: 300px;
        display: flex;

        .main__section__dudasFrecuentes__div__h1 {
            background-color: #2c2a309f;
            color: #ffffff;
            font-size: 2em;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    /*Sección: Lo que encontrarán en la página*/

    .main__section__dudasFrecuentes__h3 {
        background-color: #2e0968bb;
        font-size: 20px;
        padding: 30px;
    }


    /*Sección: ¿Puedo acceder a mi cuenta o seguir utilizándola con el bot encendido?*/

    .section__dudasFrecuentes__usarCuentaBotEncendido {
        background-color: #2c2a30;
        color: #ffffff;
        font-size: 20px;
        padding: 30px;

        .section__dudasFrecuentes__li {
            margin-bottom: 20px;
        }
    }


    /*Sección: ¿Tiene algún costo extra los reportes de cacería?*/

    .section__dudasFrecuentes__costoExtraReportes {
        background-color: #2e0968bb;
        font-size: 20px;
        padding: 30px;
    }


    /*Sección: Vivo en otro país y sólo puedo pagar con mi moneda ¿Qué puedo hacer?*/

    .section__dudasFrecuentes__vivoEnOtroPais {
        background-color: #2c2a30;
        color: #ffffff;
        font-size: 20px;
        padding: 30px;
    }


    /*Sección: ¿El bot debe ser una cuenta propia o es una cuenta de MerezBots?*/

    .section__dudasFrecuentes__elBotDebeSerPropia {
        background-color: #2e0968bb;
        font-size: 20px;
        padding: 30px;
    }


    /*Sección: ¿Cómo puedo controlar el bot?*/

    .section__dudasFrecuentes__controlarElBot {
        background-color: #2c2a30;
        color: #ffffff;
        font-size: 20px;
        padding: 30px;
    }


    /*Sección: ¿Cuántas personas pueden usar mi bot?*/

    .section__dudasFrecuentes__personasUsarBot {
        background-color: #2e0968bb;
        font-size: 20px;
        padding: 30px;
    }


    /*Sección: ¿Puedo poner mi bot como "Rango 4" o "Rango 5"?*/

    .section__dudasFrecuentes__ponerBotR4R5 {
        background-color: #2c2a30;
        color: #ffffff;
        font-size: 20px;
        padding: 30px;
    }


    /*Sección: Ya no puedo pagar el bot pero quiero transferirlo a otra persona ¿Puedo hacer eso?*/

    .section__dudasFrecuentes__noPuedoPagar {
        background-color: #2e0968bb;
        font-size: 20px;
        padding: 30px;
    }
}




@media only screen and (min-width: 769px) {
    /*Sección: Imagen de fondo + h1*/

    .main__section__dudasFrecuentes__h1 {
        background-image: url(../images/dudasfrecuentes/dudasfrecuentes.jpg);
        background-size: cover;
        height: 350px;
        display: flex;

        .main__section__dudasFrecuentes__div__h1 {
            background-color: #2c2a309f;
            color: #ffffff;
            font-size: 3em;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }


    /*Sección: Lo que encontrarán en la página*/

    .main__section__dudasFrecuentes__h3 {
        background-color: #2e0968bb;
        font-size: 25px;
        padding: 30px;
    }


    /*Sección: ¿Puedo acceder a mi cuenta o seguir utilizándola con el bot encendido?*/

    .section__dudasFrecuentes__usarCuentaBotEncendido {
        background-color: #2c2a30;
        color: #ffffff;
        font-size: 25px;
        padding: 30px;

        .section__dudasFrecuentes__li {
            margin-bottom: 20px;
        }
    }


    /*Sección: ¿Tiene algún costo extra los reportes de cacería?*/

    .section__dudasFrecuentes__costoExtraReportes {
        background-color: #2e0968bb;
        font-size: 25px;
        padding: 30px;
    }


    /*Sección: Vivo en otro país y sólo puedo pagar con mi moneda ¿Qué puedo hacer?*/

    .section__dudasFrecuentes__vivoEnOtroPais {
        background-color: #2c2a30;
        color: #ffffff;
        font-size: 25px;
        padding: 30px;
    }


    /*Sección: ¿El bot debe ser una cuenta propia o es una cuenta de MerezBots?*/

    .section__dudasFrecuentes__elBotDebeSerPropia {
        background-color: #2e0968bb;
        font-size: 25px;
        padding: 30px;
    }


    /*Sección: ¿Cómo puedo controlar el bot?*/

    .section__dudasFrecuentes__controlarElBot {
        background-color: #2c2a30;
        color: #ffffff;
        font-size: 25px;
        padding: 30px;
    }


    /*Sección: ¿Cuántas personas pueden usar mi bot?*/

    .section__dudasFrecuentes__personasUsarBot {
        background-color: #2e0968bb;
        font-size: 25px;
        padding: 30px;
    }


    /*Sección: ¿Puedo poner mi bot como "Rango 4" o "Rango 5"?*/

    .section__dudasFrecuentes__ponerBotR4R5 {
        background-color: #2c2a30;
        color: #ffffff;
        font-size: 25px;
        padding: 30px;
    }


    /*Sección: Ya no puedo pagar el bot pero quiero transferirlo a otra persona ¿Puedo hacer eso?*/

    .section__dudasFrecuentes__noPuedoPagar {
        background-color: #2e0968bb;
        font-size: 25px;
        padding: 30px;
    }
}