@media only screen and (min-width: 0px) and (max-width: 420px) {
    /*Sección: Imagen + h1*/

    .section__terminosycondiciones__h1 {
        background-image: url(../images/terminosycondiciones/terminosycondiciones.png);
        background-size: cover;
        height: map-get($height, height200);

        .section__terminosycondiciones__h1--bi {
            background-color: #2c2a309f;
            font-size: 22px;
            height: map-get($height, height100x);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }


    /*Términos y condiciones*/

    .section__terminosycondiciones__h3yp {
        padding: 30px;

        .section__terminosycondiciones__h3--margin {
            margin-top: 50px;
        }

        .section__terminosycondiciones__h3 {
            color: #000000;
        }

        .section__terminosycondiciones__p {
            color: #000000;
            font-size: 20px;
            margin-top: 20px;
        }
    }
}




@media only screen and (min-width: 421px) and (max-width: 768px) {
    /*Sección: Imagen + h1*/

    .section__terminosycondiciones__h1 {
        background-image: url(../images/terminosycondiciones/terminosycondiciones.png);
        background-size: cover;
        height: map-get($height, height300);
    }

    .section__terminosycondiciones__h1--bi {
        background-color: #2c2a309f;
        height: map-get($height, height100x);
        display: flex;
        align-items: center;
        justify-content: center;
    }


    /*Términos y condiciones*/

    .section__terminosycondiciones__h3yp {
        padding: 30px;

        .section__terminosycondiciones__h3--margin {
            margin-top: 50px;
        }

        .section__terminosycondiciones__h3 {
            color: #000000;
        }

        .section__terminosycondiciones__p {
            color: #000000;
            font-size: 25px;
            margin-top: 20px;
        }
    }
}




@media only screen and (min-width: 769px) {
    /*Sección: Imagen + h1*/

    .section__terminosycondiciones__h1 {
        background-image: url(../images/terminosycondiciones/terminosycondiciones.png);
        background-size: cover;
        height: map-get($height, height350);
    }

    .section__terminosycondiciones__h1--bi {
        background-color: #2c2a309f;
        height: map-get($height, height100x);
        display: flex;
        align-items: center;
        justify-content: center;

        .section__terminosycondiciones__h1--fs {
            font-size: 3em;
        }
    }


    /*Términos y condiciones*/

    .section__terminosycondiciones__h3yp {
        padding: 30px;

        .section__terminosycondiciones__h3--margin {
            margin-top: 50px;
        }

        .section__terminosycondiciones__h3 {
            color: #000000;
        }

        .section__terminosycondiciones__p {
            color: #000000;
            font-size: 25px;
            margin-top: 20px;
        }
    }
}