@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*Reseteo de valores*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

    a {
        color: #FFB54C;

        &:hover {
            color: #d1b410;
            cursor: pointer;
        }
    }
}

@import "variables";
@import "mixins.scss";
@import "headernav";
@import "footer";
@import "index";
@import "precios";
@import "ventaderecursos";
@import "gremiodecaceria";
@import "gremiodeguerra";
@import "caravanadeayudas";
@import "cuentasrallylead";
@import "guias";
@import "consejosparatubot";
@import "anuncios";
@import "dudasfrecuentes";
@import "promociones";
@import "terminosycondiciones";
@import "ayuda";
@import "formulario";
@import "figurasdeaccion";