/*Reseteo de valores*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;

    a {
        color: #FFB54C;

        &:hover {
            color: #d1b410;
            cursor: pointer;
        }
    }
}


/*Anclas blancas*/
.anclas__blancas {
    color: #ffffff;
}

/*Anclas negras*/
.anclas__negras {
    color: #ffffff;
}

@import "variables";
@import "mixins.scss";
@import "headernav";
@import "footer";
@import "index";
@import "precios";
@import "gremiodecaceria";
@import "gremiodeguerra";
@import "caravanadeayudas";
@import "cuentasrallylead";
@import "guias";
@import "consejosparatubot";
@import "anuncios";
@import "dudasfrecuentes";
@import "promociones";
@import "terminosycondiciones";
@import "ayuda";